.nav-link {
	color: black;
	font-family: 'Monda', Sans-Serif;
	font-size: 16px;
	/*background-color: white;*/
}

.navbar-brand {
	color: black;
	font-family: 'Monda', Sans-Serif;
	font-size: 16px;
}

/*#header-image {
	padding-top: 50px;
	padding-bottom: 50px;
}*/

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.navbar {
	/*background-color: white*/
}

.jumbotron {
	background-color: white;
}

h1 {
	font-family: 'Julius Sans One', Sans-Serif;
	font-size: 45px;
}



/*Font-Family: 'Julius Sans One', Sans-Serif;
Font-Size: 45px;
Font-Family: 'Monda', Sans-Serif;
Font-Size: 16px;*/